#!/usr/bin/env sh
# Rename this file to `env`

export LOCAL_APPDATA_FOLDER="/mnt/c/Users/Banana/AppData/Local/Skyrim Special Edition/"
export LOCAL_STEAMAPP_FOLDER="/mnt/d/Games/SteamLibrary/steamapps/common/Skyrim Special Edition - Deck - 1_6_640/"

export SSH_HOSTNAME="192.168.0.146"